In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sage.all import *

ModuleNotFoundError: No module named 'sage'

In [ ]:
def showGraph(g, num):
    plot = g.plot(edge_labels=True)
    plot.save(f"graph{num}.png")

def displayGraph(arr, num):
    newArr = []
    for i in range(len(arr)):
        if arr[i] == 0:
            break
        newArr.append(arr[i])
    size = int(np.sqrt(len(newArr)))
    newArr = np.array(newArr)
    mat = newArr.reshape((size, size))
    a = Matrix(ZZ, mat)
    CM = CoxeterMatrix(a)
    g = CM.coxeter_graph()
    showGraph(g, num)

In [ ]:

train = pd.read_csv("train_data.csv")
train.head()

,label,value1,value2,value3,value4,value5,value6,value7,value8,value9,...,value72,value73,value74,value75,value76,value77,value78,value79,value80,value81
0,0,1,3,2,2,3,1,3,3,2,...,0,0,0,0,0,0,0,0,0,0
1,0,1,3,2,2,2,3,1,3,2,...,0,0,0,0,0,0,0,0,0,0
2,0,1,2,3,2,2,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0
3,0,1,2,3,2,2,2,2,2,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,2,3,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test= pd.read_csv("test_data.csv")
test.head()

,label,value1,value2,value3,value4,value5,value6,value7,value8,value9,...,value72,value73,value74,value75,value76,value77,value78,value79,value80,value81
0,3,1,2,4,5,2,2,1,2,6,...,0,0,0,0,0,0,0,0,0,0
1,3,1,2,2,3,3,2,1,2,3,...,0,0,0,0,0,0,0,0,0,0
2,2,1,2,2,3,3,2,1,2,3,...,0,0,0,0,0,0,0,0,0,0
3,2,1,2,5,5,2,1,2,4,5,...,0,0,0,0,0,0,0,0,0,0
4,2,1,2,3,4,2,1,3,5,3,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Y_train = train["label"]
X_train = train.drop(labels = ["label"],axis = 1) 
X_train.head()

,value1,value2,value3,value4,value5,value6,value7,value8,value9,value10,...,value72,value73,value74,value75,value76,value77,value78,value79,value80,value81
0,1,3,2,2,3,1,3,3,2,3,...,0,0,0,0,0,0,0,0,0,0
1,1,3,2,2,2,3,1,3,2,2,...,0,0,0,0,0,0,0,0,0,0
2,1,2,3,2,2,2,2,1,2,3,...,0,0,0,0,0,0,0,0,0,0
3,1,2,3,2,2,2,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0
4,1,2,3,2,2,2,2,2,2,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_test = test.drop(labels = ["label"],axis = 1)
y_test = test["label"]
X_test.head()

,value1,value2,value3,value4,value5,value6,value7,value8,value9,value10,...,value72,value73,value74,value75,value76,value77,value78,value79,value80,value81
0,1,2,4,5,2,2,1,2,6,4,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2,3,3,2,1,2,3,4,...,0,0,0,0,0,0,0,0,0,0
2,1,2,2,3,3,2,1,2,3,3,...,0,0,0,0,0,0,0,0,0,0
3,1,2,5,5,2,1,2,4,5,2,...,0,0,0,0,0,0,0,0,0,0
4,1,2,3,4,2,1,3,5,3,3,...,0,0,0,0,0,0,0,0,0,0

In [ ]:

arr = X_train.iloc[0].to_numpy()
arr1 = X_train.iloc[1].to_numpy()
displayGraph(arr, 0)
displayGraph(arr1, 1)

In [ ]:
# Normalize the data
X_train = X_train / 7
test = test / 7
print("x_train shape: ",X_train.shape)
print("test shape: ",test.shape)

x_train shape:  (1033, 81)
test shape:  (247, 82)

In [ ]:
# Reshape
X_train = X_train.values.reshape(-1,9,9,1)
X_test = X_test.values.reshape(-1,9,9,1)
print("x_train shape: ",X_train.shape)
print("x_test shape: ",X_test.shape)

x_train shape:  (1033, 9, 9, 1)
x_test shape:  (247, 9, 9, 1)

In [ ]:


# Label Encoding 
from tensorflow.keras.utils import to_categorical # convert to one-hot-encoding
Y_train = to_categorical(Y_train, num_classes = 4)
y_test = to_categorical(y_test, num_classes = 4)

In [ ]:


# Split the train and the validation set for the fitting
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size = 0.1, random_state=2)
print("x_train shape",X_train.shape)
print("x_test shape",X_val.shape)
print("y_train shape",Y_train.shape)
print("y_test shape",Y_val.shape)

x_train shape (929, 9, 9, 1)
x_test shape (104, 9, 9, 1)
y_train shape (929, 4)
y_test shape (104, 4)

In [ ]:
from sklearn.metrics import confusion_matrix
import itertools

from tensorflow.keras.utils import to_categorical # convert to one-hot-encoding
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D
from keras.optimizers import RMSprop,Adam
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from keras.callbacks import ReduceLROnPlateau
model = Sequential()
model.add(Conv2D(8, kernel_size=(3,3), padding='Same', activation='relu', input_shape=(9,9,1)))
model.add(MaxPool2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(64, activation='relu'))  # fewer neurons
model.add(Dropout(0.5))
model.add(Dense(4, activation='softmax'))  # 4 output classes

/home/karman/miniforge3/envs/sage/lib/python3.12/site-packages/keras/src/layers/convolutional/base_conv.py:113: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
optimizer = Adam(learning_rate=0.001, beta_1=0.9, beta_2=0.999)

In [ ]:
# Compile the model
model.compile(optimizer = optimizer , loss = "categorical_crossentropy", metrics=["accuracy"])

In [ ]:
history = model.fit(X_train, Y_train, epochs=10, batch_size=64, validation_data=(X_val, Y_val))

Epoch 1/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 2s 25ms/step - accuracy: 0.2403 - loss: 1.3794 - val_accuracy: 0.7115 - val_loss: 1.1051
Epoch 2/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.6989 - loss: 1.0449 - val_accuracy: 0.7115 - val_loss: 0.8091
Epoch 3/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.7109 - loss: 0.7879 - val_accuracy: 0.7115 - val_loss: 0.7055
Epoch 4/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7084 - loss: 0.7225 - val_accuracy: 0.7115 - val_loss: 0.6432
Epoch 5/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7361 - loss: 0.6180 - val_accuracy: 0.7115 - val_loss: 0.5753
Epoch 6/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.7737 - loss: 0.5822 - val_accuracy: 0.8269 - val_loss: 0.5164
Epoch 7/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8329 - loss: 0.5036 - val_accuracy: 0.8269 - val_loss: 0.4720
Epoch 8/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8648 - loss: 0.4475 - val_accuracy: 0.8269 - val_loss: 0.4424
Epoch 9/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8655 - loss: 0.4114 - val_accuracy: 0.8462 - val_loss: 0.4230
Epoch 10/10
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8666 - loss: 0.4446 - val_accuracy: 0.8462 - val_loss: 0.4069

In [ ]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print(f"Test accuracy: {test_accuracy:.4f}")

8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9008 - loss: 1.6361
Test accuracy: 0.8947